{% extends 'base.html.twig' %}

{% block body %}

<h1> Articles </h1>
        {% for article in articles %}
            <div class="col-md-8">
                    <a href="{{ path('article_displayed', {"id":article.id}, {'slug':article.slug}) }}"><h3>{{ article.title }}</h3></a>
                    <p>{{article.content}}</p>
            </div>
        {% endfor %}
        <br>
        <br>
        <a href="{{ path('article_new') }}" class="btn btn-sm btn-info pull-right"><strong>Ajouter un article</strong></a>
        <a href="{{ path('category_list') }}" class="btn btn-sm btn-info pull-right"><strong>Liste des catégories</strong></a>
        {% for message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
{% endblock %}
