{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}" class="btn btn-sm btn-default pull-right">Retour à la liste</a>

    <h4>{{ article.title }}</h4>
    <p>{{ article.content }}</p>
    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}

    <a href="{{ path('article_edit', {"id":article.id}) }}">Modifier l'article</a><br>
{% endblock %}
